<div class="tiny_cloze mt-0 mx-2 mb-2">
  <p>{{ STR.chooseqtypetoadd }}</p>
  <form name="tiny_cloze_form">
    <div class="{{ CSS.TYPE }} form-check">
      {{#types}}
      <div class="option">
        <div>
          <input
            name="qtype"
            id="qtype_qtype_{{ type }}"
            value="{{ type }}"
            type="radio"
            class="form-check-input"
          />
          <label for="qtype_qtype_{{ type }}"></label>
          <span class="typename">{{ type }}</span>
          <span class="form-shortname d-block small text-muted"
            >theme_boost_union | loginformposition</span
          >
        </div>
        <span class="{{ CSS.SUMMARY }}">
          <div class="tiny_cloze_postborder">
            <h6>{{ name }}</h6>
            <p>{{ summary }}</p>
          </div>
          <div class="tiny_cloze_postborder">
            {{#shuffleoption}}
            <h6>Settings:</h6>
            <div class="form-check row">
              <span class="col-12">
                <input
                  type="checkbox"
                  id="shuffleoptioninput"
                  class="form-check-input"
                />
                <label for="shuffleoptioninput">Shuffle</label>
              </span>
            </div>
            {{/shuffleoption}}

            {{#casesensitiveoption}}
            <h6>Settings:</h6>
            <div class="form-check row">
              <span class="col-12">
                <input
                  type="checkbox"
                  id="casesensitiveoptioninput"
                  class="form-check-input"
                />
                <label for="casesensitiveoptioninput">casesensitive</label>
              </span>
            </div>
            {{/casesensitiveoption}}

            {{#dropboxoption}}
            <div class="form-check row">
              <span class="col-6">
                <input
                  name="dropboxoptioninput"
                  type="radio"
                  id="dropboxoptioninput"
                  class="form-check-input"
                />
                <label for="dropboxoptioninput">Dropbox</label>
              </span>
              <span class="col-6">
                <input
                  name="dropboxoptioninput"
                  type="radio"
                  id="dropboxoptioninput"
                  class="form-check-input"
                />
                <label for="dropboxoptioninput">Radiobutton</label>
              </span>
            </div>
            {{/dropboxoption}}

            {{#alignmentoption}}
            <div class="form-check row">
              <span class="col-6">
                <input
                  name="alignmentoptioninput"
                  type="radio"
                  id="alignmentoptioninput"
                  class="form-check-input"
                />
                <label for="alignmentoptioninput">Vertical</label>
              </span>
              <span class="col-6">
                <input
                  name="alignmentoptioninput"
                  type="radio"
                  id="alignmentoptioninput"
                  class="form-check-input"
                />
                <label for="alignmentoptioninput">Horizontal</label>
              </span>
            </div>
            {{/alignmentoption}}

            <div class="tiny_cloze_premargin">
              <h6>Functionality:</h6>
              <ul>
                {{#options}}
                <li>{{.}}</li>
                {{/options}}
              </ul>
            </div>
          </div>
        </span>
      </div>
      {{/types}}
    </div>
  </form>
</div>
