<div class="tiny_cloze mt-0 mx-2 mb-2">

  <form name="tiny_cloze_form">
    <div class="{{ CSS.TYPE }} form-check">
     <p>{{ STR.chooseqtypetoadd }}</p>
      {{#types}}
      <div class="option tiny_cloze_option">
          <input
            name="qtype"
            id="qtype_qtype_{{ type }}"
            value="{{ type }}"
            type="radio"
            class="form-check-input tiny_cloze_input_qtype"
          />
          <label for="qtype_qtype_{{ type }}">
            <div class="tiny_cloze_qtype_inputs">
            <span class="typename">{{ type }}</span>
            <span class="form-shortname d-block small text-muted"
              >{{ summary }}</span
            >
            </div>
            <span class="{{ CSS.SUMMARY }}">
              <div class="tiny_cloze_postborder">
                <h6>{{ name }}</h6>
                <p>{{ summary }}</p>
              </div>
              <div class="tiny_cloze_postborder">
                {{#shuffleoption}}
                {{! <div class="form-check row mb-2">
                  <span class="col-12">
                    <input
                      type="checkbox"
                      id="shuffleoptioninput"
                      class="form-check-input"
                    />
                    <label for="shuffleoptioninput">Shuffle</label>
                  </span>
                </div> }}


                <div class="form-item row">
                  <div class="form-label col-sm-12 font-weight-bold mb-2">
                    <label for="cloze_shuffle_element">Shuffle</label>
                    <span class="form-shortname d-block small text-muted"></span>
                  </div>

                  <div class="form-setting col-sm-12 mb-2">
                    <div class="form-select defaultsnext">
                      <select id="cloze_shuffle_element" name="cloze_shuffle_element" class="custom-select" data-initial-value="off">
                            <option value="off">Off</option>
                            <option value="on">On</option>
                      </select>
                    </div>
                    <div class="form-defaultinfo text-muted ">Default: Off</div>
                    <div class="form-description mt-3">
                        <p>Shuffle within questions.</p>
                    </div>
                  </div>
                </div>
                {{/shuffleoption}}

                {{#casesensitiveoption}}
                <div class="form-check row mb-2">
                  <span class="col-12">
                    <input
                      type="checkbox"
                      id="casesensitiveoptioninput"
                      class="form-check-input"
                    />
                    <label for="casesensitiveoptioninput">casesensitive</label>
                  </span>
                </div>
                {{/casesensitiveoption}}

                {{#dropboxoption}}
                {{! <div class="form-check row">
                  <span class="col-6">
                    <input
                      name="dropboxoptioninput"
                      type="radio"
                      id="dropboxoptioninput"
                      class="form-check-input"
                    />
                    <label for="dropboxoptioninput">Dropbox</label>
                  </span>
                  <span class="col-6">
                    <input
                      name="radiobuttonoptioninput"
                      type="radio"
                      id="radiobuttonoptioninput"
                      class="form-check-input"
                    />
                    <label for="dropboxoptioninput">Radiobutton</label>
                  </span>
                </div> }}

                <div class="form-item row">
                  <div class="form-label col-sm-12 font-weight-bold mb-2">
                    <label for="cloze_userinterface_element">User Interface Elements</label>
                    <span class="form-shortname d-block small text-muted"></span>
                  </div>

                  <div class="form-setting col-sm-12 mb-2">
                    <div class="form-select defaultsnext">
                      <select id="cloze_userinterface_element" name="cloze_userinterface_element" class="custom-select" data-initial-value="">
                            <option value="" selected="">No specification</option>
                            <option value="dropbox">Dropbox</option>
                            <option value="radiobutton">Radiobutton</option>
                      </select>
                    </div>
                    <div class="form-defaultinfo text-muted ">Default: Radiobutton</div>
                    <div class="form-description mt-3">
                        <p>Refers to the various components and elements used in user interfaces. In-line drop-down menu or standard radio buttons. </p>
                    </div>
                  </div>
                </div>

                {{/dropboxoption}}

                {{#alignmentoption}}
                {{! <div class="form-check row">
                  <span class="col-6">
                    <input
                      name="verticaloptioninput"
                      type="radio"
                      id="verticaloptioninput"
                      class="form-check-input"
                    />
                    <label for="verticaloptioninput">Vertical</label>
                  </span>
                  <span class="col-6">
                    <input
                      name="horizontaloptioninput"
                      type="radio"
                      id="horizontaloptioninput"
                      class="form-check-input"
                    />
                    <label for="horizontaloptioninput">Horizontal</label>
                  </span>
                </div> }}

                <div class="form-item row">
                  <div class="form-label col-sm-12 font-weight-bold mb-2">
                    <label for="cloze_orientation_element ">Orientation</label>
                    <span class="form-shortname d-block small text-muted"></span>
                  </div>

                  <div class="form-setting col-sm-12 mb-2">
                    <div class="form-select defaultsnext">
                      <select id="cloze_orientation_element" name="cloze_orientation_element" class="custom-select" data-initial-value="">
                      
                        <option value="" selected="">No specification</option>
                            <option value="horizontal">Horizontal</option>
                            <option value="vertical" >Vertical</option>
                      </select>
                    </div>
                    <div class="form-defaultinfo text-muted ">Default: No specification</div>
                    <div class="form-description mt-3">
                        <p>Refers to radio button orientation, horizontal row or vertical column.</p>
                    </div>
                  </div>
                </div>
                {{/alignmentoption}}

                <div class="tiny_cloze_premargin">
                  <h6>Functionality:</h6>
                  <ul>
                    {{#options}}
                    <li>{{.}}</li>
                    {{/options}}
                  </ul>
                </div>
              </div>
            </span>
          </label>
      </div>
      {{/types}}
    </div>
  </form>
</div>
